<article id="<%= item.layout %>-<%= item.slug %>" class="h-entry <%= item.layout %>" itemprop="blogPost" itemscope itemtype="https://schema.org/BlogPosting">
  <% if (item.photos && item.photos.length){ %>
    <%- partial('post/gallery') %>
  <% } %>
  <div class="post-content">
    <header>
      <%- partial('post/title') %>
            <% if (item.layout != 'page'){ %>
       <h4 class="time"><%= item.date.format(config.date_format) %></h4>
      <% } %>
    </header>
    <div class="e-content entry" itemprop="articleBody">
      <% if (item.excerpt && index){ %>
        <%- item.excerpt %>
      <% } else { %>
        <%- item.content %>
      <% } %>
    </div>
  </div>
</article>
